.profile__subtitle {
    max-width: 336px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 6px 0 0 0;
    word-wrap: break-word;
}

@media (max-width:880px) {
    .profile__subtitle {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        
    }
}